.submitButton {
}

input {
    border-radius:0;
}
.formWrapper {
    display:flex;
    flex-grow:1;
    flex-direction:column;

}

.divWrapper {
    display:flex;
    flex-direction:row;
    flex:1;
    width:100%;
}

.postTitle {
    height: 3em;
    font-size:2em;
}

.postAuthor {
}

.subTitle {
}

.tagWrapper {
}

.addTag {
}

.postText {
}