
.hero {
    position:relative;
    display:flex;
    flex-direction: row;
    padding: calc(2 * var(--hero-section-size)) 0rem;
    color:var(--hero-text-color);
    align-items: center;
    justify-content: space-between;
  }
  
  .heroLeft {
    padding-top:calc(3 * var(--hero-section-size));
  }
  .heroText {
    font-size: calc(3 * var(--hero-section-size));
    margin:0px;
    padding:0px;
    line-height:0;
    text-indent:0px;
  }
  
  .chineseName {
    font-size:calc(1.5 * var(--hero-section-size));
    margin:0px;
    padding-top:calc(1.5 * var(--hero-section-size));
    padding-bottom:0rem;
    text-indent:calc(0.25 * var(--hero-section-size));
  }
  
  .heroRight {

  }
  .heroImage {
    width:calc(8 * var(--hero-section-size));
    border-radius: 50%;

    height:auto;
  }