:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  max-width:100vw;
  padding:1rem 7rem;
}

:root {
  --header-bg-color: #fff3f3;
  --hero-text-color: #a85a00;
  --body-bg-color:#fff1fb;
  --nav-text-color:#000e2c;
  --footer-text-color:#330000;
  --latest-post-text-color:#000000;
  --posts-btn-text-color:rgb(255, 169, 183);
  font-size:1.5vw;
  --tag-text-color: #ff3bff;
  --tag-text-color-hover:#ff00ff;
  --tag-bg-color:#ffcbff;
  --post-text-color:#bfdbff;
  --post-divider-color: hsl(300, 100%, 90%,80%);
  --subscribe-btn-text-color:#fff6ff;
  --subscribe-btn-bg-color:#e96900;

}


body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}


a:visited {
  color:inherit;
}

a {
  color:inherit;
}

h1 {
  padding:0;
  margin:0;
}