

:root {
  font-size: 16px; /* Set your base font size here, e.g., 16px */
  /* ... other CSS properties ... */
}

:root {
  font-family: Inter var,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  font-size: 16px;
  padding:1rem 20%;
} 

:root {
  --header-bg-color: #f8f8f8;
  --hero-text-color: #000000;
  --body-bg-color:#f8f8f8;
  --nav-text-color:#000e2c;
  --footer-text-color:#000000;
  --latest-post-text-color:#000000;
  --posts-btn-text-color:rgb(255, 169, 183);
  --tag-text-color: #ff3bff;
  --tag-text-color-hover:#ff00ff;
  --tag-bg-color:#ffcbff; 
  --post-text-color:#bfdbff;
  --post-divider-color: hsl(226, 100%, 90%);
  --subscribe-btn-text-color:#000000;
  --subscribe-btn-bg-color:#47f3ff;
  --post-title-color:rgb(0, 0, 0);
  --nav-font-size:1rem;
  --subscribe-section-size:1rem;
  --hero-section-size:1rem;
  --new-tag-bg-color:rgb(255, 227, 227);
}


@media screen and (max-width: 800px) {
  :root {
    padding: 1rem max(5%,calc(50% - 240px));
    --nav-font-size: max(2vw, 0.75rem);
  }
}

@media screen and (max-width: 500px) and (min-width: 300px) {
  :root {
    --subscribe-section-size: 3.2vw;
    --hero-section-size: 3.2vw;
  }
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}


a:visited {
  color:inherit;
}

a {
  color:inherit;
}

h1 {
  padding:0;
  margin:0;
}