
body {
    font-family:'Montserrat','Roboto', sans-serif;
    background-color:var(--body-bg-color);
    margin:0;
  }
  
  .nav {
    color:var(--nav-text-color);
    top: 0px;
    display:flex;
    background-color: var(--header-bg-color);
    justify-content: space-between;
    padding:calc(0.3 * var(--nav-font-size)) 0;
    align-items: center;
    z-index: 1;
    margin:0;
    height:3rem;
  }
  
  .navTitle {
    font-size:calc(1 * var(--nav-font-size));
    margin:0;
  }

  .navRight{
    color:var(--nav-text-color);
    display:flex;
    margin:0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: calc(1 * var(--nav-font-size));
  vertical-align: baseline;
    list-style-type:none;
    display:flex;
    justify-content: right;
    gap: calc(1 * var(--nav-font-size));
    padding: 0 calc(2 * var(--nav-font-size));
    align-items: center;
  }
  
  .nav:visited {
    color:var(--nav-text-color);
  }

  .navLink:hover {
    font-weight:900;
      
  }
  .navLink a{
    color:var(--nav-text-color);
    text-decoration: none;
  }
  
  .navImage {
    height: calc(2.25 * var(--nav-font-size));
    margin-right:calc(0.75 * var(--nav-font-size));
    width:auto;
  }
  
  .nav-btn {
    background-color: transparent;
    border-radius:50%;
    border:none;
    padding:0;
    margin:0;
  }
  .nav-light-dark-img {
    border-radius: 50%;
    width:1rem;
    height:auto;
    background-color: transparent;
    padding:0;
    margin:0;
  }