.button {
    border:none;
    background-color: transparent;
    font-size:1rem;
}

.searchText {

}
.formBar {
    
}

.searchText {
    font-size: 1rem;
}

.buttonBar {
    display:flex;
    justify-content: end;
    gap:1rem;
}

.selected {
    font-weight:900;
    padding:0px;
    border-bottom:1px solid black;
}

.results {
    font-size:0.75rem;
}
.inputNum {
    background-color: transparent;
    border:none;
    width:1.5rem;
    height:1.5rem;
    color:black;
    text-align: center;
    font-size:0.75rem;
}

.inputNum::placeholder {
    color:inherit;
}