.formWrapper {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formTitle {
    font-size:calc(1.5 * var(--subscribe-section-size))
}
.inputForm {
    height:calc(2.5 * var(--subscribe-section-size));
    color:black;
    font-family:inherit;
    padding: 0 calc(0.5 * var(--subscribe-section-size));
    font-size: calc(1 * var(--subscribe-section-size));
}

.inputForm::placeholder {
    color:black;
}


.submitButton {
    height:calc(2.5 * var(--subscribe-section-size));
    width:calc(7.5 * var(--subscribe-section-size));
    font-size:calc(0.8 * var(--subscribe-section-size));
    font-weight:900;
    border-radius:calc(0.75 * var(--subscribe-section-size));
    text-align:center;
    border:none;
    background-color:var(--subscribe-btn-bg-color);
    color:var(--subscribe-btn-text-color);

}

.formContent {
    display:flex;
    justify-content: center;
    gap:calc(3 * var(--subscribe-section-size));
}

@media screen and (max-width: 300px) {
    .formWrapper {
        display: none;
    }
  }